.container {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid var(--color-blue);
}
.container input {
  padding: 5px;
  border: 1px solid var(--colo-blue);
  width: 100%;
  background: transparent;
  color: var(--color-white);
}
